*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    
    margin-left: 200px;
    margin-top: 300px;
    padding: aouto
    ;
}

.main img{
    width: 250px;
    height: 300px;
    border-radius: 50%;
}

.cpu-images{
    margin-top: 100px;
}


.game-board{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.point-box{
    margin-right: 70px;
}

.hidden{
    display: none;
}
